.DS_Store
*.pyc
California_Polytechnic_State_University.html
California_Polytechnic_State_University.infobox
California_Polytechnic_State_University.lastmodified
California_Polytechnic_State_University.wikitext
