[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
wikitextparser = "*"
setuptools = ">=36.2.1"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
